.currentOption{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.currentOption input{
    margin-right: 10px;
    max-width: 80px;
}
.currentOption label {
    margin-bottom: 10px;
}
.currentOption button{
    margin-left: 10px;
}
.resultBtn, .addBtn{
    margin: 10px 0;
}